<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="widget">
                    <div class="foot-logo">
                        <div class="logo">
                            <a href="index-2.html" title=""><img src="assets/images/iteamresize.png" alt=""></a>
                        </div>	
                        <p>
                            Nous vous offrons un contenu académique et pratique unique visant à transformer les connaissances en compétences et à vous orienter vers une carrière internationale aussi bien en IT qu’en Business. 
                        </p>
                    </div>
                    <ul class="location">
                        <li>
                            <i class="ti-map-alt"></i>
                            <p>85-87 Rue Palestine 1002 Tunis.</p>
                        </li>
                        <li>
                            <i class="ti-mobile"></i>
                            <p>(216) 71 781 081</p>
                            <i class="ti-mobile"></i>
                            <p>(216) 22 022 444 </p>
                            
                            
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="widget">
                    <div class="widget-title"><h4>SUIVEZ-NOUS</h4></div>
                    <ul class="list-style">
                        <li><i class="fa fa-facebook-square"></i> <a href="https://web.facebook.com/shopcircut/" title="">facebook</a></li>
                        <li><i class="fa fa-twitter-square"></i><a href="https://twitter.com/login?lang=en" title="">twitter</a></li>
                        <li><i class="fa fa-instagram"></i><a href="https://www.instagram.com/?hl=en" title="">instagram</a></li>
                        <li><i class="fa fa-google-plus-square"></i> <a href="https://plus.google.com/discover" title="">Google+</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="widget">
                    <div class="widget-title"><h4>ADMISSION</h4></div>
                    <ul class="list-style">
                        <li><a href="about.html" title="">Étapes D'inscription</a></li>
                        <li><a href="contact.html" title=""> Pré-Inscription</a></li>
                        <li><a href="terms.html" title=""> Conditions D'admission</a></li>
                        <li><a href="#" title="">Conditions De Vie En Tunisie</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="widget">
                    <div class="widget-title"><h4>ITEAM POLYTECHNIQUE</h4></div>
                    <ul class="list-style">
                        <li><a href="#" title="">Cycle Préparatoire</a></li>
                        <li><a href="#" title="">Cycle Ingénieur </a></li>
                        <li><a href="#" title="">Licences</a></li>
                        <li><a href="#" title="">Masters </a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-4">
                <div class="widget">
                    <div class="widget-title"><h4>ITEAM BUSINESS SCHOOL</h4></div>
                    <ul class="list-style">
                        <li><a href="#" title="">Licences</a></li>
                        <li><a href="#" title="">Masters </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer><!-- footer -->