
<div class="main">
    <h3>Ajouter un etudiant</h3>
    <div class="form-group">	
        <input type="text" required="required"/>
        <label class="control-label" for="input">email</label><i class="mtrl-select"></i>
      </div>
      <div class="form-group">	
        <input type="text" required="required"/>
        <label class="control-label" for="input">CIN</label><i class="mtrl-select"></i>
      </div>
      <div class="form-group">	
        <input type="text" required="required"/>
        <label class="control-label" for="input">nom</label><i class="mtrl-select"></i>
      </div>
      <div class="form-group">	
        <input type="text" required="required"/>
        <label class="control-label" for="input">prenom</label><i class="mtrl-select"></i>
      </div>
      <div class="form-group">	
        <input type="text" required="required"/>
        <label class="control-label" for="input">Age</label><i class="mtrl-select"></i>
      </div>
      <div class="form-group">	
        <input type="text" required="required"/>
        <label class="control-label" for="input">Classe</label><i class="mtrl-select"></i>
      </div>
      <div class="form-group">	
        <input type="file" required="required"/>
        <label class="control-label" for="input">Image</label><i class="mtrl-select"></i>
      </div>
      <div class="form-group">	
        <input type="text" required="required"/>
        <label class="control-label" for="input">Telephone</label><i class="mtrl-select"></i>
      </div>
     
     <div class="submit-btns">
          <button class="mtr-btn signup" type="button"><span>Ajouter</span></button>
      </div>

</div>