<div class="theme-layout">	
	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
							
									<div class="widget">
										<h4 class="widget-title">Statisiques</h4>
										<ul class="activitiez">
											<li>
												<div class="activity-meta">
													
													<span><a  title="">Vous avez posé {{Questionsofuser.length}} questions en totale </a></span>
													
												</div>
											</li>
											<li>
												<div class="activity-meta">
													
													<span><a  title="">Vos questions ont {{totalResponses}} reponses en totale</a></span>
												</div>
											</li>
											<li>
												<div class="activity-meta">
													
													<span><a  title="">Vous avez repondu a {{totalResponsesByUser}} questions en totale</a></span>
												</div>
											</li>
										</ul>
									</div><!-- recent activites -->
									
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="new-postbox">
										<figure>
											<img [src]=" endpoint.url + 'getimage/' + Userdetails.Image" width="100"style="height: 80px;" alt="">
										</figure>
										<div class="newpst-input">
											<form>
												<textarea rows="2" placeholder="write something" [(ngModel)]="postContent" name="postContent"></textarea>
											  <div class="attachments">
												<ul>
												  <li>
													<i class="fa fa-image"></i>
													<label class="fileContainer">
													  <input type="file" (change)="onFileSelected($event)" >
													</label>
												  </li>
												  <li>
													<button type="button" (click)="onSubmit()">Post</button>
												  </li>
												</ul>
											  </div>
											</form>
										  </div>
										  
									</div>
								</div><!-- add post new box -->
								<div class="loadMore">
								<div class="central-meta item" *ngFor="let question of Questions">
									<div class="user-post"  >
										<div class="friend-info">
											<figure>
												<img [src]=" endpoint.url + 'getimage/' + question.user?.Image" width="100"style="height: 50px;"alt="">
											</figure>
											<div class="friend-name">
												<ins><a href="time-line.html" title="">{{ question.user?.nom }} {{ question.user?.prenom }}</a></ins>
												<span>publié a : {{question.date}}</span>
											</div>
											<div class="post-meta">
												<img [src]=" endpoint.url + 'getimage/' + question.Image" alt="">
												<div class="we-video-info">
												
												</div>
												<div class="description">
													
													<p style="font-size:large ; color: black;">
														{{ question.Description }}
													</p>
												</div>
												<span *ngIf="question.modify == question.idUser">
												<button  (click)="modifierquestion(question._id,question.idUser,question.Description)" type="submit" style="color: black; font-size: small;">Modifier</button> /
												<button (click)="supprimerquestion(question._id,question.idUser)" type="submit" style="color: black;font-size: small">Supprimer </button>
											 </span>
											</div>
										</div>
										<div class="coment-area" >
											<hr style="background-color: cornflowerblue;">
											<h6>{{question.responses.length}} Reponses : </h6> <br>
											<ul class="we-comet" >
												<li *ngFor="let response of question.responses">
													<div class="comet-avatar">
														<img [src]=" endpoint.url + 'getimage/' + response.user.Image"  width="50"style="height: 50px;" alt="">
													</div>
													<div class="we-comment">
														<div class="coment-head">
															<h5><a href="time-line.html" title="">{{ response.user.nom }} {{ response.user.prenom }} |  <span style="font-size: small;color: blue;">{{response.proffesion}}</span></a></h5>
															<span>{{response.date}} 	<span *ngIf="question.modify == response.idUser">
																<button type="submit" (click)="modifierreponse(response._id,response.idUser,response.Description)" style="color: black;font-size: smaller">Modifier </button>
															/ <button type="submit" (click)="supprimerreponse(response._id,response.idUser)" style="color: black;font-size: smaller">Supprimer </button>
															</span> </span>
															
														</div>
														<p>{{ response.Description | lineBreakPipePipe }}</p> 
													</div>
												
												</li>
											
										
												<li class="post-comment" >
													<div class="comet-avatar">
														<img [src]=" endpoint.url + 'getimage/' + Userdetails.Image" width="100"style="height: 40px;" alt="">
													</div>
													<div class="post-comt-box">
														<form method="post">
															<textarea placeholder="Post your comment" [(ngModel)]="postResponse" name="postResponse"></textarea>
							
															<button type="submit" (click)="onSubmitResponse(question._id)" style="color: black;">Reply</button>
														</form>	
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
				
								</div>
								
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									<div class="widget">
										<h4 class="widget-title">Your page</h4>	
										<div class="your-page">
											<figure>
												<a href="#" title=""><img  [src]=" endpoint.url + 'getimage/' + Userdetails.Image" width="100"style="height: 60px;" alt=""></a>
											</figure>
											<div class="page-meta">
												<a href="#" title="" class="underline">My page</a>
												<span><i class="ti-comment"></i><a href="insight.html" title="">Messages <em>9</em></a></span>
												<span><i class="ti-bell"></i><a href="insight.html" title="">Notifications <em>2</em></a></span>
											</div>
											
										</div>
									</div><!-- page like widget -->
								
							
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>


	
</div>
