<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1 style="color: black;">iTeam Intranet</h1>
            
						<div >
							<span><img src="assets/images/iteam.png" alt=""></span>
						</div>
					</div>	
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area sign">
						<h2 class="log-title">Login Etudiant</h2>
							
						<form method="post">
							<div class="form-group">
								<input type="text" id="input" [(ngModel)]="xdata.login" [ngModelOptions]="{standalone: true}" required="required"/>
								<label class="control-label" for="input">Username</label><i class="mtrl-select"></i>
							  </div>
							  <div class="form-group">
								<input type="password" [(ngModel)]="xdata.password" [ngModelOptions]="{standalone: true}"   required="required"/>
								<label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
							  </div>
							
							<div class="submit-btns">
								<button class="mtr-btn signin" type="button" (click)="login()"><span>Login</span></button>
                                <br> <br>
                                <button class="add-butn more-action" type="button" [routerLink]="['/LoginEnseignant']">Enseignant</button>
                                <button class="add-butn more-action" type="button" style="margin-left: 10px;" [routerLink]="['/'] "> Admin </button>
							</div>
						</form>
                        
					</div>
		
				</div>
			</div>
		</div>
	</div>
</div>